* {
    margin: 0;
    padding: 0;
}
.main_container {
    width: 1140px;
    height: 373.078px;
    margin-left: 221.500px;
    margin-right: 221.500px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1110px;
    height: 373.078px;
    padding: 0 15px;
}
.img-wrapper {
    width: 1140px;
    height: 84px;
    display: flex;
    justify-content: center;
    margin: 0 -15px;
}
.div-in-img-wrapper {
    width: 80px;
    height: 84px;
}
.row-coloum-2 {
    width: 1080px;
    height: 43.188px;
    padding: 0 15px;
    margin: 0 -15px;
    display: flex;
    justify-content: center;
}
.h2-text-center {
    font-size: 32px;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
    line-height: 35px;
    color: #292b2c;
    margin-bottom: 8px;
    width: 785.031px;
    height: 35.188px;
    text-align: center;
}
.h4-text-center {
    font-size: 24px;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    color: #292b2c;
    line-height: 26px;
    margin-bottom: 8px;
}
.text-input-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.text-input-in-container {
    width: 593px;
    height: 51px;
    font-size: 22px;
    text-align: center;
}
input {
    border: 2px solid #ccc;
    padding: 10px;
    transition: all 0.3s ease;
}

input:hover {
    border-color: #3498db;
    box-shadow: 0 0 10px #3498db;
}

input:focus {
    border-color: #3498db; /* Border color on focus */
    box-shadow: 0 0 10px #3498db; /* Glowing effect on focus */
    outline: none; /* Remove default outline */
}
  .btn {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  }
  .hover-container {
    margin-top: 20px;
  }
  .result-main-div {
      width: 1000px;
      height: 200px;
      background: #ffb703;
      border: 15px solid #023047;
      display: flex;
      flex-direction: row;
      padding: 55px 0;
      text-align: center;
      margin-top: 50px;
  }
  .result-h1-tag {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #023047;
    padding: 0 95px;
  }
  .result-main-div-in-div {
    background-color: #FF0000;
    height: 2px;
    position: absolute;
    width: 160px;
    display: flex;
    justify-items: center;
    margin-left: 189px;
    margin-top: 24px;
  }
  .result-main-div-in-div1 {
    background-color: #FF0000;
    height: 2px;
    position: absolute;
    width: 160px;
    display: flex;
    justify-items: center;
    margin-left: 482px;
    margin-top: 24px;
  }
  .result-main-div-in-div2 {
    background-color: #FF0000;
    height: 2px;
    position: absolute;
    width: 160px;
    display: flex;
    justify-items: center;
    margin-left: 765px;
    margin-top: 24px;
  }
.mainstatus {
    display: flex;
    flex-direction: row;
}
.main1div_STATUS {
  margin-left: -15px;
}